.container {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0;
}

.container > .menu {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100vh;
    gap: 56px;
    background-color: var(--menu-bg-color);
    transition: all 0.3s linear;
    
}

.logo {
    display: flex;
    width: 68px;
    height: 34px;
    margin: 56px 16px 0 16px;
}

.container > .menu:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 206px;
    height: 100vh;
    gap: 56px;
    background-color: var(--menu-bg-color);
    transition: all 0.3s ease-out;
}


.column::before {
    content: '';
    display: inline-block;
    width: 80%;
    height: 2px;
    margin-top: -30px;
    background-color: #c4c4c4;
}

.column {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.img {
    filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(105deg) brightness(99%) contrast(94%);
}

/* .img:hover {
    filter: invert(23%) sepia(25%) saturate(4280%) hue-rotate(171deg) brightness(98%) contrast(98%);
} */
.inner-items:hover > a > .img {
    filter: invert(23%) sepia(25%) saturate(4280%) hue-rotate(171deg) brightness(98%) contrast(98%);
    transition: all 0.3s linear;
}

.inner-items:hover > .hide {
    color: #02577A;
      transition: all 0.3s linear;
}



.hide {
    display: none;
}
.container > .menu:hover .hide {
    display: block;
}

.inner-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
    color: #c4c4c4;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;

}




/* Botom text */

.container > .footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    bottom: 5px;
}

.title {
    position: absolute;;
    font-size: 11px;
    font-family: montserrat;
    font-weight: 500;
    line-height: 13.41px;
    color: #02577A;
    margin-bottom: 24px;
    
}

.title::before {
    content: '';
    display: inline-block;
    width: 346px;
    height: 1px;
    background-color: #02577A;

    position: absolute;
    top: -50%;
    left: -250px;
    transform: translate(50%, -50%);
}


/*background start*/

.bg-img {
    width: 50%;
    height: 50%;
}

/*background end*/

