.container {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0;
}

.container > .menu {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100vh;
    gap: 56px;
    background-color: var(--menu-bg-color);
    
}

.logo {
    width: 68px;
    height: 34px;
    margin: 56px 16px 0 16px;
}

.btn-column::before {
    content: '';
    display: inline-block;
    width: 62.24px;
    height: 2px;
    margin-left: 18px;
    margin-top: -30px;
    background-color: #c4c4c4;
}

.btn-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container > .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.title {
    font-size: 11px;
    font-family: montserrat;
    font-weight: 500;
    line-height: 13.41px;
    color: #02577A;
    margin-bottom: 24px;
    
}

.title::before {
    content: '';
    display: inline-block;
    width: 346px;
    height: 1px;
    background-color: #02577A;

    position: absolute;
    bottom: 8%;
    left: 385px;
    transform: translate(50%, -50%);
}


