/* .btn {
    padding: 16px 23px;
    width: 89px;
    height: 57px;
    margin-left: 11px;
    background: var(--menu-bg-color);
    border-radius: 25px 0 0 25px;
    border: none;
    transition: color 1s linear;
    color: transparent;
} */

/* .a:hover {
    padding: 0 0;
    background: #fff;
    width: 195px;
    height: 57px;
    margin-left: 11px;
    border: none;
    color: #c4c4c4;
    font-family: montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
} */

/* .btn-column > div:first-child:hover {
    color: #02577a;
}  */

